@media screen and (max-width: 800px) {
    .resimg {
        position: absolute;
        max-width: 150px;
        max-height: 140px;
        bottom: 20px;
        right: 30px;
    }
}

@media screen and (max-width: 650px) {
    .resimg {   
        display: none;
    }

    .alur {
        justify-content: center;
        position: relative;
        width: 50%;
    }
}